DEBUG=True
DATABASE_URL=postgresql+asyncpg://app:password@localhost:5434/board_db
SYNC_DATABASE_URL=postgresql+psycopg2://app:password@localhost:5434/board_db
ENCRYPTION_KEY=3-yHjX8W-k-q_M-S6kY_Uv_f_S6-S_L_Z-Y8-k-X8-I=